# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS / System files
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Large Dataset Files
*
dataset/train/
dataset/test/
dataset/benchmark/

# Large Archives & Models
*.zip
*.tar.gz
*.pkl
*.pt
*.bin
*.onnx

# Scratch logs & outputs
*.log
